<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Add your custom styles for error page */
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #343a40;
            padding: 20px;
            text-align: center;
        }
        h1 {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <h1 class="text-4xl mt-8">Oops! Something went wrong.</h1>
    <div class="flex justify-center mt-8 gap-2">
    <p class="text-md">We encountered an error while processing your request. Please try again later.</p>
    <a href="/" class="text-md text-blue-500 hover:underline">Back to home </a>
</div>
</body>
</html>
